@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');


@mixin flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar,
.projects-form,
.palettes-section {
  @include flexCol;
}

@keyframes slide {
    0% { width: 0vw; }
    100% { width: 15vw; }
}

.sidebar {
  padding: 8px;
  width: 15vw;
  animation: slide .3s;
  .palettes-section {
    width: 100%;
    margin-top: 20px;
  }
}

.projects-form {
  margin-top: 20px;
  width: 100%;

  select {
    font-family: 'Lato', sans-serif;
    width: 90%;
    height: 35px;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 1rem;
    background: white;
    &:hover{
      cursor: pointer;
      background: lightgray;
    }
  }
}

.sidebar-wrapper {
  display: flex;
}

.sidebar-arrow {
  align-self: center;
  margin-left: -40px;
  background: white;
  border-radius: 10px 0px 0px 10px;
  opacity: .5;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  img{
    height: 40px;
  }

  &:hover{
    cursor: pointer;
    opacity: .8;
  }
}
