@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

@mixin flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar,
.projects-form,
.palettes-section {
  @include flexCol;
}

.sidebar {
  padding: 8px;
  width: 15vw;
}

.projects-form {
  width: 100%;

  select {
    width: 90%;
    height: 35px;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 1rem;
    background: white;
    &:hover{
      cursor: pointer;
      background: lightgray;
    }
  }
}

.sidebar-wrapper {
  display: flex;
}

.sidebar-arrow {
  align-self: center;
  margin-left: -40px;
  background: white;
  border-radius: 10px 0px 0px 10px;
  opacity: .5;
  padding: 10px 0px;

  img{
    height: 40px;
  }

  &:hover{
    cursor: pointer;
    opacity: .8;
  }
}

.sidebar-add-container{
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  width: 90%;
  img {
    height: 20px;
    margin-right: 5px;
  }
  p{
    margin: 0px;
  }
}

@keyframes inputAnimation {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

.input-animation{
  animation: inputAnimation .3s;
  transform-origin: left;
  overflow: hidden;
}

